body {
	  margin: 0;
	 /* background-image: url("img/grafit.png");
	  background-repeat: repeat; */

}

li {
	margin-right: 20px;
	padding-left: 30px;

}

h2, h3 {
	text-align: center;
}


#projects {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.pmargin {
	margin-top: 20px;
	margin-bottom: 30px;
}


.main{
	height: 260px;
	width: 100%;
	background-image: url("img/fantasyTw.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	float: left;

}

#auth{
	position: relative;
	top: 30px;
	left: 180px;
	float: left;

}

#opis{
	width: 50%;
	height: 200px;
	margin-top: 30px;
	border: 2px solid #B856F5;
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60);
    float: left;
}

#atxt{
	padding: 5px;
	font-family: 'Shadows Into Light', cursive;
	font-size: 28px;

}

.nav{
	text-align: center;
	}


#navb{
	width: 100%;
	opacity: 0.9;
	float: left;

}

.navbar{
	

}

.navbar-text{
	border-right: 1px solid silver;
	padding-left: 100px;
	padding-right: 50px;
}


#about{
	width: 100%;
	float: left;
	display: none;

}

#travel{
	width: 100%;
	float: left;
	display: none;
}

.city{
	display:none;
}



#projects{
	width: 100%;
	float: left;
	display: none;
}

#recap{
	width: 100%;
	float: left;
	padding-top: 30px;
	border-top: 1px solid silver;

}






.box{
	height: 200px;
	text-align: center;
	margin-left: 70px;
	margin-top: 10px;
	
	

}





#left-box{
	font-size: 16px;
	

}


#mid-box{
	font-family: 'Tinos', serif;
	font-size: 18px;

}


#right-box{
	



}

.btc{

}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* DONATE */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    bottom: 100px;
    
}

.desc {
    padding: 5px;
    text-align: center;
}

/* END OF DONATE */