body {
	margin: 0;
	 /* background-image: url("img/grafit.png");
	  background-repeat: repeat; */
	overflow-x: hidden;
}

@media (max-width: 960px) {
	#opis {
	display: none;
	}
	.saturn{
		max-height: 30%;
		max-width: 30%;
	}
}

li{
	margin-right: 20px;
	padding-left: 30px;
	color: purple;
}

img{
	z-index: -1;
}

h2, h3 {
	text-align: center;
}

.main{
	height: 260px;
	width: 100%;
	background-image: url("img/fantasyTw.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	float: left;

}

#auth{
	position: relative;
	top: 30px;
	left: 140px;
	float: left;

}

#opis{
	max-width: 50%;
	min-height: 76%;
	margin-top: 30px;
	border: 2px solid #B856F5;
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60);
    float: left;
}

#atxt{
	padding: 5px;
	font-family: 'Shadows Into Light', cursive;

}



.sticky{
	position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}


#omnie:hover, #podroze:hover, #projekty:hover > a {
	text-shadow: 1px 1px 2px white;
}



#fr > a{
	color: #FF14F7;
}

#fr:hover > a {
	color: #FF1462;
	text-shadow: 1px 1px 2px red;
	font-size: 16px;
}

#bt > a{
	color: #54D2E3;
}

#bt:hover > a{
	color: #FF1462;
	text-shadow: 1px 1px 2px red;
	font-size: 16px;
}




#navb{
	width: 100%;
	opacity: 0.95;
	z-index: 1;
	float: left;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}

.navbar-brand{
	margin-right: 30px;
}


.navbar{
	font-size: 17px;
	
}

.navbar-header{
	padding-left: 30px;
}

.navbar-text{
	border-left: 1px solid silver;
	border-right: 1px solid silver;
	padding-left: 10px;
	padding-right: 10px;
}


#projects {
	display: block;
}

.pmargin {
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 5px;
	margin-left: 10px;
}



#about{
	padding-top: 40px;
	width: 100%;
	float: left;
	display: none;
	border-bottom: 1px solid silver;
	padding-bottom: 40px;
	font-size: 16px;
}

#travel{
	padding-top: 40px;
	width: 100%;
	float: left;
	display: none;
	border-bottom: 1px solid silver;
	padding-bottom: 60px;
}

.city{
	display:none;
}



#projects{
	padding-top: 40px;
	width: 100%;
	float: left;
	display: none;
	border-bottom: 1px solid silver;
	padding-bottom: 60px;
}

#recap{
	width: 100%;
	float: left;
	padding-top: 30px;
	border-top: 1px solid silver;
}




.box{
	height: 230px;
	text-align: center;
	margin-top: 10px;
}


#left-box{
	font-size: 16px;
}


#mid-box{
	font-family: 'Tinos', serif;
	font-size: 18px;

}


#right-box{
	padding-bottom: 10px;
}

.btc{

}


.dropdown { /* DONATE */
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    bottom: 100px; 
}

.desc {
    padding: 5px;
    text-align: center;
} /* END OF DONATE */


